<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if @user.avatar_url.nil? %>
          <%= gravatar_for @user, size: 150 %>
        <% else %>
          <%= image_tag @user.avatar.standard.url, class: "gravatar" %>
        <% end %>
        <%= @user.name %>      
      </h1>
      <%= @user.suppervisor? ? 'Suppervisor' : 'Member' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if !@subjects.nil? %>
      <h1>
        <%= current_course.name %>
      </h1>
      <ul class="users">
        <%= render @subjects %>
      </ul>
    <% end %>
  </div>
</div>
