<h2>Assign users for Course :
<%= link_to @course.name, course_path(@course)%>
</h2>
<%= form_for :course, url: course_enrollments_path, method: :patch do |f| %>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Selected</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
  <tr>
    <th scope="row"><%=user.id%></th> 
    <td>
      <%= link_to user.name, user_path(user)%>
    </td>
    <td>
      <%= f.check_box "user_ids", {:multiple => true}, user.id, nil %>
    </td>
  </tr>
  <% end %> 
  </tbody>
</table>
<button type="submit" class="btn btn-default">Save
</button>
<%end%>
