<h1><%= @course.name %></h1>
<%= will_paginate %>
<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>    
    <% @subjects.each do |subject| %>
      <tr>
        <th scope="row"><%= subject.id %></th>
        <td>
          <%= link_to subject.name, edit_user_subject_path(current_user, subject) %>
        </td>
        <td><%= subject.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>