<%= form_for [:suppervisor, @subject] do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, :rows => 3 %><br />
  </p>
  <ul class="users">    
    <%= f.fields_for :tasks do |builder| %>
      <%= render 'task_fields', :f => builder %>
    <% end %>
    <li><%= link_to_add_fields "Add Task", f, :tasks %></li>
  </ul>
  <p><%= f.submit "Submit" %></p>
<% end %>