<h1>All Courses</h1>
<%= link_to "Create course", new_course_path%> 
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Begin</th>
      <th>End</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <th scope="row"><%= course.id %></th>
          <td><%= link_to course.name, course_path(course) %>
          </td>
          <td><%= course.description %></td>
          <td><%= course.begin %></td>
          <td><%= course.end %></td>
      </tr>
    <% end %> 
  </tbody>
</table>