<h1>
  <%= link_to @course.name, edit_suppervisor_course_path(@course) %>
</h1>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Subject</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @course.course_subjects.each do |course_subject| %>
      <tr>
        <th scope="row"><%= course_subject.subject.id %></th>
        <td>        
          <%= link_to course_subject.subject.name, 
          suppervisor_subject_path(course_subject.subject) %>
        </td>
        <td><%= course_subject.subject.description %></td>
        <td>
          <% if !course_subject.begin.nil? %>
            <% if course_subject.end.nil? %>
              <%= form_for [:suppervisor, course_subject] do |f| %>
                <%= f.hidden_field :end, value: Time.now %>
                <%= f.submit "Finish" %>              
              <% end %>
            <% else %>
              Finished
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>