<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Framgia Training System", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Course", courses_path %>
        </li>
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li>
            <%= link_to "Members", suppervisor_user? ? suppervisor_users_path : users_path %>
          </li>
          <li>
            <%= link_to "Subjects", suppervisor_user? ? 
            suppervisor_subjects_path : user_subjects_path(current_user) %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if suppervisor_user? %>              
                <li><%= link_to "Profile", suppervisor_user_path(current_user) %></li>
                <li><%= link_to "Settings", edit_suppervisor_user_path(current_user) %></li>
              <% else %>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <% end %>              
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
